<!DOCTYPE html>
<html>
<head>
    <title>jQuery Paged</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="jquery.pagination.list.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mockjax/1.5.3/jquery.mockjax.js"></script>
    <script src="fakedata.js"></script>
    <script src="jquery.pagination.js"></script>
    <script src="jquery.pagination.list.js"></script>
</head>
<body>
<h3>Top 100 books on Project Gutenberg:</h3>

<div id="top100"></div>
<script type="text/html" id="top100-template">
    <ul>
        <% for (var i = 0; i < data.length; i++) { %>
        <li>
            <span><%=data[i].title%></span>
            by <span><%=data[i].author%></span>
            <span><%=data[i].year%></span>
        </li>
        <% } %>
    </ul>
    <div class="pg-pager"></div>
</script>
<script>
    $('#top100').pagination({url: '/top100', template: $('#top100-template').html()});
</script>
</body>
</html>
