#element, #local-data {
    margin: 20px;
}

.paged-pager-list, .paged-items-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.paged-pager-list li {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    text-align: center;
    background: #eee
}

.paged-pager-list li a {
    text-decoration: none;
    vertical-align: middle;
    color: #000;
}

.paged-items-list .fa {
    margin-right: 5px;
}

.paged-items-list li {
    padding: 5px;
    margin-bottom: 2px;
    background: #eee;
}

.paged-pager-list li:last-child {
    margin-right: 0px;
}

.paged-pager-list .paged-page-current {
    background: #aa0000;
}

.paged-pager-list .paged-page-current a {
    color: #fff;
}

.paged-pager-list .paged-control {
    background: none;
}