.pg-items {
    height: 600px;
    width: 800px;
    line-height: 600px;
    overflow: hidden;

    img {
        display: inline-block;
        vertical-align: middle;
    }
}

.pg-pager {
    .pg-pager-list {
        padding: 0;

        li {
            display: inline-block;
            text-align: center;
        }

        &.pg-pager-first {
            .pg-previous {
                display: none;
            }
        }
        &.pg-pager-last {
            .pg-next {
                display: none;
            }
        }
    }
}

#slider {
    .pg-page-current, .pg-page-after, .pg-page-before {
        margin: 0 10px;
        width: 70px;
        overflow: hidden;
        background: #eee;
    }
}

#slider2 {
    .pg-pager, .pg-items {
        display: inline-block;
        height: 480px;
        vertical-align: top;
    }

    .pg-items {
        width: 640px;
        text-align: center;

        img {
            display: inline-block;
            vertical-align: top;
            height: 100%;
        }
    }
    .pg-pager {
        width: 250px;

        .pg-pager-list {
            margin: 0;
            padding: 0;

            .pg-pager-control {
                display: none;
            }

            .pg-page-current, .pg-page-after, .pg-page-before {
                width: 120px;
                height: 120px;
                overflow: hidden;
                margin-bottom: -4px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}